@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: #FFF;
}

body {
  height: 100vh;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  border-color: transparent;
  overflow-x: hidden;
  text-align: left;
}

@font-face {
  font-family: "sunspire";
  src: url(../assets/fonts/titles/sunspire.otf);
}
h1 {
  font-family: "sunspire", Arial, Helvetica, sans-serif;
  color: #0000ff;
  background-color: transparent;
  position: relative;
  text-align: center;
}

@font-face {
  font-family: "KodeMono-Regular";
  src: url(../assets/fonts/text/KodeMono-Regular.ttf);
}
h2 {
  font-family: "KodeMono-Regular", Arial, Helvetica, sans-serif;
  color: #0000ff;
  background-color: transparent;
  font-weight: 800;
}

h4 {
  font-family: "KodeMono-Regular";
  font-weight: 800;
}

h6 {
  font-weight: 800;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: white;
  background-color: transparent;
}

img {
  border-radius: 12px;
}

@media (min-width: 1366px) and (max-width: 1920px) {
  body {
    padding: 0px 60px;
    background-color: #000;
  }
  section {
    padding-bottom: 30px;
  }
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 32px;
    padding-top: 30px;
    padding-bottom: 16px;
  }
  h4 {
    font-size: 16px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  body {
    padding: 16px;
    background-color: #000;
    font-size: 14px;
  }
  section {
    padding-bottom: 30px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 8px;
  }
  h4 {
    font-size: 14px;
  }
}
.nav-link {
  color: #FFF;
  font-family: "KodeMono-Regular";
}
.nav-link:hover {
  color: #8a2be2 !important;
  text-decoration: underline;
  font-weight: 800;
}

.nav-link.active {
  color: #8a2be2 !important;
  font-weight: 800;
}

.navbar-brand {
  color: #FFF;
  font-family: "sunspire", Arial, Helvetica, sans-serif;
  vertical-align: middle;
  padding-right: 20px;
  letter-spacing: 5px;
}
.navbar-brand:hover {
  color: #FFF;
}
.navbar-brand img {
  width: 50px;
  height: auto;
}

@media (min-width: 1366px) and (max-width: 1920px) {
  .navbar {
    padding: 40px;
    padding-bottom: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .navbar {
    padding: 16px;
  }
  .navbar-toggler {
    width: auto;
    background-color: #8a2be2;
  }
  .navbar-toggler-icon {
    background-color: #8a2be2;
    color: #FFF;
  }
  .container-fluid {
    justify-content: flex-start;
  }
}
a {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #8a2be2;
}

button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 12px;
  border-color: #8a2be2;
  border-style: outset;
  padding: 0.5em 1em 0.5em 1em;
  align-content: space-evenly;
  background-color: #8a2be2;
  color: #FFF;
}

@media (min-width: 1366px) and (max-width: 1920px) {
  a {
    font-size: 18px;
  }
  button {
    font-size: 18px;
  }
  button:hover {
    background-color: #691ab4;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  a {
    font-size: 14px;
  }
  button {
    font-size: 14px;
    width: 100%;
  }
}
i {
  color: #0000ff;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header-img {
  align-items: center;
}
.section-header-img img {
  align-items: center;
}

@media (min-width: 1366px) and (max-width: 1920px) {
  .section-header-img img {
    width: 70%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .section-header-img img {
    width: 100%;
  }
}
/* Solo en la página index: ultimo release */
h4 {
  font-family: "KodeMono-Regular";
  font-weight: 800;
}

h6 {
  font-weight: 800;
}

@media (min-width: 1366px) and (max-width: 1920px) {
  .ultimo-release {
    display: block;
  }
  .ultimo-release .content-ultimo-release {
    display: flex;
    gap: 40px;
  }
  .ultimo-release .content-ultimo-release .bloque-descripcion #album-destacado {
    height: 250px;
  }
  .ultimo-release .content-ultimo-release .bloque-escuchalo {
    display: block;
  }
  .ultimo-release .content-ultimo-release .bloque-escuchalo .ultimo-release-redes {
    display: flex;
    gap: 40px;
  }
  .ultimo-release .content-ultimo-release .bloque-escuchalo .ultimo-release-redes img {
    width: 60px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .ultimo-release {
    display: grid;
    margin-top: 16px;
    columns: 4;
    gap: 20px;
    width: 100%;
    justify-content: center;
  }
  .ultimo-release .content-ultimo-release h4 {
    text-align: center;
  }
  .ultimo-release .content-ultimo-release h6 {
    text-align: center;
  }
  .ultimo-release .content-ultimo-release p {
    text-align: center;
    width: 100%;
  }
  .ultimo-release .content-ultimo-release .ultimo-release-redes {
    justify-items: center;
  }
  .ultimo-release .content-ultimo-release #album-destacado {
    height: 200px;
  }
}
/* Solo en la página music: ultimo album */
.ultimo-album {
  display: flex;
  columns: 12;
  gap: 40px;
  margin-top: 30px;
}
.ultimo-album p {
  width: 70%;
}

.ultimo-album-redes img {
  height: 60px;
  width: 60px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .ultimo-album {
    display: grid;
  }
  p {
    width: 100%;
  }
}
/* Pagina index*/
.index-pegados {
  display: grid;
}
.index-pegados .index-pegados-temas {
  display: flex;
  gap: 24px;
  padding-bottom: 16px;
}
.index-pegados .index-pegados-temas .index-image-album {
  width: 350px;
  justify-items: center;
}

@media (min-width: 1366px) and (max-width: 1920px) {
  h6 {
    padding-top: 16px;
    font-size: 24px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .index-pegados-temas {
    overflow-x: scroll;
  }
  .index-pegados-temas .index-image-album {
    width: 200px;
  }
}
/* Página music */
.music-mas-pegados {
  display: grid;
  gap: 16px;
  padding-bottom: 16px;
}

.music-mas-pegados link {
  padding-bottom: 24px;
}

.music-mas-pegados-temas {
  display: flex;
  gap: 24px;
  padding-bottom: 16px;
  overflow: hidden;
  overflow-x: scroll;
}

.music-image-album {
  display: flex;
  gap: 16px;
  justify-items: center;
}

@media (min-width: 1366px) and (max-width: 1920px) {
  .index-mas-pegados {
    columns: 12;
  }
  h6 {
    padding-top: 16px;
    font-size: 24px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .index-mas-pegados {
    columns: 4;
  }
  .music-mas-pegados-temas {
    display: flex;
  }
}
.Tours {
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

ul {
  list-style-type: inherit;
  font-weight: 800;
  padding-right: 86px;
  font-size: 18px;
}
ul li {
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 1366px) and (max-width: 1920px) {
  .Tours {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .Tours {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  ul {
    list-style-type: inherit;
    font-weight: 800;
    padding-right: 86px;
    overflow-y: hidden;
  }
  .ul-tour {
    display: none;
  }
}
/* redes sociales */
.fandom-redes {
  display: block;
}

@media (min-width: 1366px) and (max-width: 1920px) {
  .fandom-redes h2 {
    padding-bottom: 60px;
  }
  .fandom-redes .fandom-rrss {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 16px;
    padding-bottom: 16px;
  }
  .fandom-redes .fandom-image-rrss {
    width: 150px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .fandom-redes h2 {
    text-align: center;
    padding-bottom: 30px;
  }
  .fandom-redes .fandom-rrss {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 16px;
  }
  .fandom-redes .fandom-image-rrss {
    width: 80px;
    justify-items: center;
  }
}
/* fotos de instagram */
.full-fandom {
  display: block;
}

@media (min-width: 1366px) and (max-width: 1920px) {
  .full-fandom h2 {
    padding-bottom: 60px;
  }
  .full-fandom .full-fan {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .full-fandom .image-fandom {
    width: 100px;
    justify-items: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-fandom h2 {
    text-align: center;
    padding-bottom: 30px;
  }
  .full-fandom .full-fan {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  .full-fandom .image-fan {
    width: 120px;
  }
}
.videos {
  display: block;
}
.videos iframe {
  border-radius: 12px;
}

@media (min-width: 1366px) and (max-width: 1920px) {
  .videos h2 {
    padding-bottom: 60px;
  }
  .videos .content-videos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .videos {
    display: grid;
    width: 100%;
  }
  .videos h2 {
    text-align: center;
    padding-bottom: 16pxpx;
  }
  .videos .content-videos {
    display: grid;
    justify-content: center;
    gap: 16px;
    width: 100%;
  }
  .videos .content-videos #hide {
    display: none;
  }
  .videos .content-videos iframe {
    width: 288px;
    height: auto;
  }
}
fieldset {
  display: block;
  background-color: #0000ff;
  border-radius: 12px;
  border: #0000ff;
}
fieldset h2 {
  color: #FFF;
  background-color: #0000ff;
  margin: 0px;
  padding-bottom: 16px;
}
fieldset label {
  color: #FFF;
  background-color: transparent;
  padding-right: 8px;
}
fieldset input {
  color: #000;
  background-color: #FFF;
  padding: 8px;
  border-radius: 12px;
  border: transparent;
}
fieldset .inputs-suscribe {
  background-color: #0000ff;
}
fieldset select {
  background-color: #FFF;
  color: #000;
  border-radius: 12px;
  padding: 8px;
  height: 40px;
}
fieldset p {
  background-color: #0000ff;
  color: #FFF;
}

@media (min-width: 1366px) and (max-width: 1920px) {
  fieldset {
    padding: 60px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  fieldset input {
    width: 50%;
  }
  fieldset select {
    width: 80px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  fieldset {
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 16px;
    text-align: center;
    align-items: center;
  }
  fieldset input {
    width: 100%;
  }
  fieldset select {
    width: 100%;
  }
}
footer {
  text-align: center;
  color: #FFF;
  margin-top: 50px;
}

/*# sourceMappingURL=styles.css.map */
