* {
    margin: 0;
    padding: 0;
    }

body {
    height: 100vh;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: aliceblue;
    background-color: #000;
    border-radius: 12px;
    border-color: transparent;
    overflow-x: hidden;
    }   

main {
    padding: 32px 32px;
    margin: 0px 60px;
    }    

section {
    padding-bottom: 30px;
}

.nav-link {
    color: aliceblue;
    font-family: "Roboto";
    }

.nav-link.active {
    font-family: "Roboto";
    color: blueviolet !important; 
    font-weight: 800;
    }

.nav-link:hover {
    font-family: "Roboto";
    color: blueviolet !important; 
    text-decoration: underline;
    font-weight: 800;
    }
    
.navbar-brand img {
    width: 50px;
    height: auto;
    }

@font-face {
    font-family: "sunspire";
    src: url(../assets/fonts/titles/sunspire.otf);
    } 
    
h1 {
    font-family:"sunspire", Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: blue ;
    background-color: transparent;
    position: relative;
    text-align: center;
    }
            
@font-face {
    font-family: "KodeMono-Regular";
    src: url(../assets/fonts/text/KodeMono-Regular.ttf);
    } 
    
h2 {
    font-family: "KodeMono-Regular", Arial, Helvetica, sans-serif;
    font-size: 2em;
    color:blue;
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 16px;
    }

p {
    font-family:"Roboto";            
    font-style: normal;
    font-weight: 400;
    color: white;
    background-color: transparent;
    text-align: left;
    } 

a {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: blueviolet;
    }

button {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    border-radius: 0.5em;
    border-color: blueviolet;
    border-style: outset;
    padding: 0.5em 1em 0.5em 1em;
    align-content:space-evenly;
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    }         

button :hover {
    color: #000;
    }

/* ------------------------------------ this is -------------------------------------*/

.section-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }

.section-header-img img {
    width: 70%;
    }

/* ------------------------------------ ultimo release --------------------------------*/

.ultimo-release {
    display: grid;
    grid-template-columns: 
    "imagen" "textos"
    "imagen" "textos"
    "redes";
    rows: 2; 
    }

.ultimo-release-content {
    margin-top: 2em;
    display: flex;
    columns: 12;
    gap: 2em;
    }
        
.ultimo-release-content h6 {
    font-weight: 800;
    }
        
.ultimo-release p {
    width: 50%;
    }
        
.ultimo-release-redes img {
    display: grid;
    rows: 3;
    height: 60px;
    width: 60px;
    }  

#album-destacado {
    height: 190px;
    border-radius: 12px;
    }
/* ------------------------------------ tours ----------------------------------*/

.Tours {
    display: flex;
    gap: 16px;
    width: 100%;
    justify-content: left;
    }

ul {
    list-style-type: inherit;
    font-weight: 800;
    padding-right: 86px;
    }

li {
    font-weight: 400;
    }

/* ------------------------------------ mas pegados -----------------------------------*/

.mas-pegados {
    display: flex;
    columns: 12;
    gap: 1em;
    padding-bottom: 16px;
    }

.mas-pegados-temas {
    display: flex;
    gap: 24px;
    padding-bottom: 16px;
    }

.mas-pegados-link {
    padding-bottom: 24px;
    }

image-album {
    display: flex; 
    gap: 16px;
    height: 100px;
    justify-items: center;
    }

/* ------------------------------------ suscribe --------------------------------*/

fieldset {
    display: block;
    background-color: blue;
    border-radius: 12px;
    border: transparent;
    padding: 60px;
    margin-bottom: 30px; 
    margin-top: 30px;   
    }

label {
    color: aliceblue;
    background-color: transparent;
    padding-right: 8px;
    }
    
input{
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    padding: 8px;
    border-radius: 12px;
    border: transparent;
    width: 50%;
    }
    
select {
    background-color: aliceblue;
    color: #000000;
    border-radius: 12px;
    padding: 8px;
    height: 40px;
    width: 5em;
    }

/*    
.inputs-suscribe {
    }    
*/

/* ------------------------------------ footer -------------------------------------*/

footer {
    text-align: center;
    color: aliceblue;
    margin-bottom: 60px;
    margin-top: 30px;
    }

/*  PAG MUSIC ------------------------------------------------------------------------ */

.ultimo-album-content {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    columns: 12;
    gap: 2em;
    }
        
.ultimo-album-content h6 {
    font-weight: 800;
    }
        
.ultimo-album p {
    width: 50%;
    }
        
.ultimo-album-redes img {
    height: 3.125em;
    width: 3.125em;
    }  
        
/* Media mobile -------------------------------------------------------------------------------------------- */

@media (min-width:320px) and (max-width:767px){

body {
    margin-left: 16px;
    margin-right: 16px;
    padding: 0px;
    font-size: 14px;
    } 

main {
    padding: 0px;
    margin: 0px;
    }    

.navbar-toggler {
    background-color: blueviolet;
    }

.navbar-toggler-icon {
    color: aliceblue;
    }    
    
.navbar-brand {
    display: hidden;
    }

.container-fluid {
    justify-content: flex-start;
    }    

.container-fluid img {
    display: none;
}    

h1 {
    font-size: 32px;
    }        

h2 {
    font-size: 24em;
    padding-top: 16px;
    padding-bottom: 8px;
    }

.section-header-img img {
    width: 100%;
    }

/* Media desktop -------------------------------------------------------------------------------------------- */
   
@media (min-width:1366px) {
}
}