@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFF;
}

body {
  height: 100vh;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  border-color: transparent;
  overflow-x: hidden;
  text-align: left;
  background-color: #000;
}

@font-face {
  font-family: "sunspire";
  src: url(../assets/fonts/titles/sunspire.otf);
}
h1 {
  font-family: "sunspire", Arial, Helvetica, sans-serif;
  color: #0000ff;
  background-color: transparent;
  position: relative;
  text-align: center;
}

@font-face {
  font-family: "KodeMono-Regular";
  src: url(../assets/fonts/text/KodeMono-Regular.ttf);
}
h2 {
  font-family: "KodeMono-Regular", Arial, Helvetica, sans-serif;
  color: #0000ff;
  background-color: transparent;
  font-weight: 800;
}

h4 {
  font-family: "KodeMono-Regular";
  font-weight: 800;
}

h6 {
  font-weight: 800;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: white;
  background-color: transparent;
}

img {
  border-radius: 12px;
}

@media (min-width: 1024px) {
  body {
    padding: 0px 60px;
    background-color: #000;
  }
  section {
    padding-bottom: 30px;
  }
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 32px;
    padding-top: 30px;
    padding-bottom: 16px;
  }
  h4 {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    padding: 0px 60px;
    background-color: #000;
  }
  section {
    padding-bottom: 30px;
  }
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 32px;
    padding-top: 30px;
    padding-bottom: 16px;
  }
  h4 {
    font-size: 16px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  body {
    padding: 16px;
    background-color: #000;
    font-size: 14px;
  }
  section {
    padding-bottom: 30px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 8px;
  }
  h4 {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  body {
    padding: 0px 60px;
    background-color: #000;
  }
  body section {
    padding-bottom: 30px;
  }
  body h1 {
    padding: 0;
  }
  body h2 {
    padding: 0;
  }
  body h3 {
    padding: 0;
  }
  body h4 {
    padding: 0;
  }
  body h6 {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    padding: 0px 60px;
  }
  body section {
    padding-bottom: 30px;
  }
  body h1 {
    padding: 0;
  }
  body h2 {
    padding: 0;
  }
  body h3 {
    padding: 0;
  }
  body h4 {
    padding: 0;
  }
  body h6 {
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  body {
    padding: 16px;
  }
  body section {
    padding-bottom: 30px;
  }
  body h1 {
    padding: 0;
  }
  body h2 {
    padding: 0;
  }
  body h3 {
    padding: 0;
  }
  body h4 {
    padding: 0;
  }
  body h6 {
    padding: 0;
  }
}
.nav-link {
  color: #FFF;
  font-family: "KodeMono-Regular";
}
.nav-link:hover {
  color: #8a2be2 !important;
  text-decoration: underline;
  font-weight: 800;
}

.nav-link.active {
  color: #8a2be2 !important;
  font-weight: 800;
}

.navbar-brand {
  color: #FFF;
  font-family: "sunspire", Arial, Helvetica, sans-serif;
  vertical-align: middle;
  padding-right: 20px;
  letter-spacing: 5px;
}
.navbar-brand:hover {
  color: #FFF;
}
.navbar-brand img {
  width: 50px;
  height: auto;
}

@media (min-width: 1024px) {
  .navbar {
    padding: 40px;
    padding-bottom: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .navbar {
    padding: 16px;
  }
  .navbar-toggler {
    width: auto;
    background-color: #8a2be2;
  }
  .navbar-toggler-icon {
    background-color: #8a2be2;
    color: #FFF;
  }
  .container-fluid {
    justify-content: flex-start;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .navbar {
    padding: 16px;
  }
  .navbar-toggler {
    width: auto;
    background-color: #8a2be2;
  }
  .navbar-toggler-icon {
    background-color: #8a2be2;
    color: #FFF;
  }
  .container-fluid {
    justify-content: flex-start;
  }
}
a {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #8a2be2;
}

button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 12px;
  border-color: #8a2be2;
  border-style: outset;
  padding: 0.5em 1em 0.5em 1em;
  align-content: space-evenly;
  background-color: #8a2be2;
  color: #FFF;
}

@media (min-width: 1024px) {
  a {
    font-size: 18px;
  }
  button {
    font-size: 18px;
  }
  button:hover {
    background-color: #691ab4;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  a {
    font-size: 18px;
  }
  button {
    font-size: 18px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  a {
    font-size: 14px;
  }
  button {
    font-size: 14px;
    width: 100%;
  }
}
i {
  color: #0000ff;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header-img {
  align-items: center;
}
.section-header-img img {
  align-items: center;
}

@media (min-width: 1024px) {
  .section-header-img img {
    width: 70%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .section-header-img img {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .section-header-img img {
    width: 100%;
  }
}
/*--------------- Página index: ultimo release -----------*/
.ultimo-release {
  display: grid;
}
.ultimo-release .index-ultimo-release .bloque-descripcion .bloque-escuchalo h4 {
  font-family: "KodeMono-Regular";
  font-weight: 800;
}
.ultimo-release .index-ultimo-release .bloque-descripcion .bloque-escuchalo h6 {
  font-weight: 800;
}

@media (min-width: 1024px) {
  .ultimo-release {
    display: grid;
    width: 80%;
    gap: 40px;
  }
  .ultimo-release .index-ultimo-release {
    display: flex;
    align-content: flex-start;
    gap: 40px;
  }
  .ultimo-release .index-ultimo-release .bloque-descripcion {
    display: grid;
  }
  .ultimo-release .index-ultimo-release .bloque-descripcion #album-destacado {
    height: 250px;
  }
  .ultimo-release .index-ultimo-release .bloque-escuchalo {
    display: flex;
    gap: 16px;
  }
  .ultimo-release .index-ultimo-release .bloque-escuchalo .redes {
    display: flex;
    gap: 16px;
    width: 100px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .ultimo-release {
    display: grid;
    width: 80%;
    gap: 40px;
  }
  .ultimo-release .index-ultimo-release {
    display: flex;
    align-content: flex-start;
    gap: 40px;
  }
  .ultimo-release .index-ultimo-release .bloque-descripcion {
    display: grid;
    width: 100%;
  }
  .ultimo-release .index-ultimo-release .bloque-descripcion #album-destacado {
    height: 250px;
  }
  .ultimo-release .index-ultimo-release .bloque-escuchalo {
    display: flex;
    gap: 16px;
  }
  .ultimo-release .index-ultimo-release .bloque-escuchalo .redes {
    display: flex;
    gap: 16px;
    width: 80px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .ultimo-release {
    display: grid;
    width: 100%;
    text-align: center;
    gap: 20px;
  }
  .ultimo-release .index-ultimo-release {
    display: grid;
    gap: 20px;
  }
  .ultimo-release .index-ultimo-release .bloque-escuchalo {
    gap: 16px;
  }
  .ultimo-release .index-ultimo-release .bloque-escuchalo .redes {
    width: 60px;
    padding-top: 16px;
  }
}
/*---------------------- Pagina index------------------------*/
.index-pegados {
  display: grid;
}
.index-pegados .index-pegados-temas {
  display: flex;
  gap: 24px;
  padding-bottom: 16px;
}
.index-pegados .index-pegados-temas .index-image-album {
  justify-items: center;
}

@media (min-width: 1024px) {
  .index-image-album {
    width: 350px;
  }
  h6 {
    padding-top: 16px;
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .index-pegados-temas {
    overflow-x: scroll;
  }
  .index-pegados-temas .index-image-album {
    width: 250px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .index-pegados-temas {
    overflow-x: scroll;
  }
  .index-pegados-temas .index-image-album {
    width: 250px;
  }
}
/*----------------------- Página music -----------------------*/
.music-mas-pegados {
  display: block;
}

@media (min-width: 1024px) {
  .music-mas-pegados .music-pegados {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .music-mas-pegados .music-pegados h6 {
    padding-top: 16px;
    font-size: 20px;
  }
  .music-mas-pegados .music-pegados .music-mas-pegados-temas {
    display: grid;
    grid-template-columns: 8, 1fr;
    grid-template-rows: 2, 1fr;
    grid-column-gap: 16px;
    padding-bottom: 16px;
  }
  .music-mas-pegados .music-pegados .image-album-music {
    display: flex;
    gap: 16px;
    justify-items: center;
    width: 220px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .music-mas-pegados .music-pegados {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .music-mas-pegados .music-pegados h6 {
    padding-top: 16px;
    font-size: 20px;
  }
  .music-mas-pegados .music-pegados .music-mas-pegados-temas {
    display: grid;
    grid-template-columns: 8, 1fr;
    grid-template-rows: 2, 1fr;
    grid-column-gap: 16px;
    padding-bottom: 16px;
  }
  .music-mas-pegados .music-pegados .image-album-music {
    display: flex;
    gap: 16px;
    justify-items: center;
    width: 200px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .music-mas-pegados {
    display: grid;
    gap: 16px;
  }
  .music-mas-pegados .music-pegados {
    display: flex;
    gap: 16px;
    overflow-x: scroll;
  }
  .music-mas-pegados .music-pegados h6 {
    padding-top: 16px;
    font-size: 14px;
  }
  .music-mas-pegados .music-pegados .music-mas-pegados-temas {
    display: grid;
    gap: 16px;
    padding-bottom: 16px;
  }
  .music-mas-pegados .music-pegados .image-album-music {
    display: flex;
    gap: 16px;
    justify-items: center;
    width: 200px;
  }
}
/* ----------------- Página: index -------------------*/
.Tours {
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

ul {
  list-style-type: inherit;
  font-weight: 800;
  padding-right: 86px;
  font-size: 18px;
}
ul li {
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .Tours {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .Tours {
    grid-template-columns: repeat(2, 1fr);
  }
  ul {
    list-style-type: inherit;
    font-weight: 800;
    padding-right: 86px;
    overflow-y: hidden;
  }
  .ul-tour {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .Tours {
    grid-template-columns: repeat(2, 1fr);
  }
  ul {
    list-style-type: inherit;
    font-weight: 800;
    padding-right: 86px;
    overflow-y: hidden;
  }
  .ul-tour {
    display: none;
  }
}
/*------------------------- Pagina tours---------------------- */
.tour-page {
  display: block;
}
.tour-page iframe {
  width: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .tour-page iframe {
    height: 300px;
  }
}
/*--------------- logos de redes sociales-------------------- */
.fandom-redes {
  display: block;
}

@media (min-width: 1024px) {
  .fandom-redes h2 {
    padding-bottom: 60px;
  }
  .fandom-redes .fandom-rrss {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 16px;
    padding-bottom: 16px;
  }
  .fandom-redes .fandom-image-rrss {
    width: 150px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .fandom-redes h2 {
    text-align: center;
    padding-bottom: 30px;
  }
  .fandom-redes .fandom-rrss {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 16px;
  }
  .fandom-redes .fandom-image-rrss {
    width: 80px;
    justify-items: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .fandom-redes h2 {
    text-align: center;
    padding-bottom: 30px;
  }
  .fandom-redes .fandom-rrss {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 16px;
  }
  .fandom-redes .fandom-image-rrss {
    width: 80px;
    justify-items: center;
  }
}
/*------------------ fotos de instagram --------------------*/
.full-fandom {
  display: block;
}

@media (min-width: 1024px) {
  .full-fandom h2 {
    padding-bottom: 60px;
  }
  .full-fandom .full-fan {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .full-fandom .image-fan {
    width: 350px;
    justify-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .full-fandom h2 {
    text-align: center;
    padding-bottom: 30px;
  }
  .full-fandom .full-fan {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  .full-fandom .image-fan {
    width: 200px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-fandom h2 {
    text-align: center;
    padding-bottom: 30px;
  }
  .full-fandom .full-fan {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  .full-fandom .image-fan {
    width: 120px;
  }
}
.videos {
  display: block;
}
.videos iframe {
  border-radius: 12px;
}

@media (min-width: 1024px) {
  .videos h2 {
    padding-bottom: 60px;
  }
  .videos .content-videos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .videos h2 {
    padding-bottom: 60px;
  }
  .videos .content-videos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .videos .content-videos iframe {
    width: 310px;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #hide {
    display: none;
  }
  iframe {
    width: 288px;
    height: auto;
  }
}
fieldset {
  display: block;
  background-image: linear-gradient(to left, #0000ff, #8a2be2);
  border-radius: 12px;
  border: transparent;
}
fieldset h2 {
  color: #FFF;
  margin: 0px;
  padding-bottom: 16px;
  border: transparent;
}
fieldset label {
  color: #FFF;
  padding-right: 8px;
  border: transparent;
}
fieldset input {
  color: #000;
  background-color: #FFF;
  padding: 8px;
  border-radius: 12px;
  border: transparent;
}
fieldset .inputs-suscribe {
  border: transparent;
}
fieldset select {
  background-color: #FFF;
  color: #000;
  border-radius: 12px;
  padding: 8px;
  height: 40px;
}
fieldset p {
  color: #FFF;
  border: transparent;
}

@media (min-width: 1024px) {
  fieldset {
    padding: 60px;
    margin-bottom: 30px;
    margin-top: 30px;
    border: transparent;
  }
  fieldset input {
    width: 50%;
    border: transparent;
  }
  fieldset select {
    width: 80px;
    border: transparent;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  fieldset {
    padding: 60px;
    margin-bottom: 30px;
    margin-top: 30px;
    border: transparent;
  }
  fieldset input {
    width: 100%;
    border: transparent;
  }
  fieldset select {
    width: 80px;
    border: transparent;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  fieldset {
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 16px;
    text-align: center;
    align-items: center;
  }
  fieldset input {
    width: 100%;
  }
  fieldset select {
    width: 100%;
  }
}
footer {
  text-align: center;
  color: #FFF;
  margin-top: 50px;
}

/*# sourceMappingURL=styles.css.map */
