* {
    margin-top: 16px;
    background: #000;
    border-radius: 8px;
    border-color: transparent;}    

body {
    margin-left: 60px;
    margin-right: 60px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 60px;
    color: aliceblue;
    height: 100vh;}    

@media (min-width:320px) and (max-width:767px){}
    
@media (min-width:768px) and (max-width:1365px) {}

@media (min-width:1366px) {

.section-nav {
    nav
}

}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-style: bold;
}