* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #FFF;
}

body {
    height: 100vh;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    border-color: transparent;
    overflow-x: hidden;
    text-align: left;
}

@font-face {
    font-family: "sunspire";
    src: url(../assets/fonts/titles/sunspire.otf);
}

h1 {
    font-family: "sunspire", Arial, Helvetica, sans-serif;
    color: $blue;
    background-color: transparent;
    position: relative;
    text-align: center;
}

@font-face {
    font-family: "KodeMono-Regular";
    src: url(../assets/fonts/text/KodeMono-Regular.ttf);
}

h2 {
    font-family: "KodeMono-Regular", Arial, Helvetica, sans-serif;
    color: $blue;
    background-color: transparent;
    font-weight: 800;
}

h4 {
    font-family: "KodeMono-Regular";
    font-weight: 800;
}

h6 {
    font-weight: 800;
}

p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    color: white;
    background-color: transparent;
}

img {
    border-radius: 12px;
}

@media (min-width:1024px) {
    body {
        padding: 0px 60px;
        background-color: #000;
    }

    section {
        padding-bottom: 30px;
    }

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 32px;
        padding-top: 30px;
        padding-bottom: 16px;
    }

    h4 {
        font-size: 16px;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    body {
        padding: 0px 60px;
        background-color: #000;
    }

    section {
        padding-bottom: 30px;
    }

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 32px;
        padding-top: 30px;
        padding-bottom: 16px;
    }

    h4 {
        font-size: 16px;
    }
}

@media (min-width:320px) and (max-width:767px) {
    body {
        padding: 16px;
        background-color: #000;
        font-size: 14px;
    }

    section {
        padding-bottom: 30px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
        padding-top: 16px;
        padding-bottom: 8px;
    }

    h4 {
        font-size: 14px;
    }
}