$pd: 60px;
$mg: 80px;

@mixin pd-mg-body {
  padding-left: $pd;
  padding-right: $pd;
  padding-top: $pd/2;
}

@mixin pd-sections {
  padding-top: $pd/2;
}

@mixin pd-titles {
  h1 {
    padding-top: $pd/2;
    padding-bottom: $pd;
  }

  h2 {
    padding-bottom: $pd/2;
  }

  h4 {
    padding-bottom: $pd/8;
  }

  h6 {
    padding-top: $pd/4;
    padding-bottom: $pd/8;
  }
  p {
    padding-bottom: $pd/4;
  }
}

@mixin footer {
  padding-top: $pd;
  padding-bottom: $pd*2;
}