.footer-index {
    margin-top: 50px;

    h4 {
        text-align: center !important;
    }

    .footer-tyc {
        .btn-hover-color {
        color: none;
        text-decoration: none;
    }    
    }
}