/* Pagina index*/ 

.index-pegados {
    display: grid;
    .index-pegados-temas {
        display: flex;
        gap: 24px;
        padding-bottom: 16px;
        .index-image-album {
            width: 350px;
            justify-items: center;
        }
    }
}

@media (min-width:1366px) and (max-width:1920px) {
    h6 {
        padding-top: 16px;
        font-size: 24px;
    }
}

@media (min-width:320px) and (max-width:767px){
    .index-pegados-temas {
        overflow-x: scroll;
        .index-image-album {
            width: 200px;
        }
    }
}

/* Página music */

.music-mas-pegados {
    display: grid;
    gap: 16px;
    padding-bottom: 16px;
}

.music-mas-pegados link {
    padding-bottom: 24px;
}

.music-mas-pegados-temas {
    display: flex;
    gap: 24px;
    padding-bottom: 16px;
    overflow: hidden;
    overflow-x: scroll;
}

.music-image-album {
    display: flex; 
    gap: 16px;
    justify-items: center;
}

@media (min-width:1366px) and (max-width:1920px) {
    .index-mas-pegados {
        columns: 12;
    }
    h6 {
        padding-top: 16px;
        font-size: 24px;
    }
}

@media (min-width:320px) and (max-width:767px){
    .index-mas-pegados {
        columns: 4;
    }
    .music-mas-pegados-temas {
        display: flex;
    }
}



    

    



