.mas-pegados {
    display: flex;
    gap: 16px;
    padding-bottom: 16px;
    overflow: hidden;
    overflow-x: scroll;
}

.mas-pegados-temas {
    display: flex;
    gap: 24px;
    padding-bottom: 16px;
    overflow-x: hidden;
}

.mas-pegados-link {
    padding-bottom: 24px;
}

.image-album {
    display: flex; 
    gap: 16px;
    justify-items: center;
}

/* Solo en la página music */

.mas-pegados-music {
    display: grid;
    gap: 16px;
    padding-bottom: 16px;
}

.mas-pegados-music link {
    padding-bottom: 24px;
}

.mas-pegados-music-temas {
    display: flex;
    gap: 24px;
    padding-bottom: 16px;
    overflow: hidden;
    overflow-x: scroll;
}

.image-album-music {
    display: flex; 
    gap: 16px;
    justify-items: center;
}

@media (min-width:1366px) and (max-width:1920px) {
    .mas-pegados {
        columns: 12;
    }
}

@media (min-width:320px) and (max-width:767px){
    .mas-pegados {
        columns: 4;
    }
    .mas-pegados-music-temas {
        display: flex;
    }
}



    

    



