fieldset {
    display: block;
    background-color: $blue;
    border-radius: 12px;
    border: $blue;
    h2 {
        color: #FFF;
        background-color: $blue;
        margin: 0px;
    }
    label {
        color: #FFF;
        background-color: transparent;
        padding-right: 8px;
    }
    input{
        color: #000;
        background-color: #FFF;
        padding: 8px;
        border-radius: 12px;
        border: transparent;
    }
    .inputs-suscribe {
        background-color: $blue;
    }
    select {
        background-color: #FFF;
        color: #000;
        border-radius: 12px;
        padding: 8px;
        height: 40px;
    }
    p {
        background-color: $blue;
        color: #FFF;
    }
}

@media (min-width:1366px) and (max-width:1920px) {
    fieldset {
        padding: 60px;
        margin-bottom: 30px; 
        margin-top: 30px;   
        input {
            width: 50%; 
        }
        select {
            width: 80px;
        }
    }
}

@media (min-width:320px) and (max-width:767px){
    fieldset {    
        margin-bottom: 16px; 
        margin-top: 16px;   
        padding: 16px;
        text-align: center;
        input {
            width: 100%;
        }
        select {
            width: 100%;
        }
    } 
}