/* Solo en la página index: ultimo release */

.ultimo-release {
    display: flex;
    columns: 12;
    gap: 40px;
    margin-top: 30px;
    @media (min-width:320px) and (max-width:767px){
        display: grid;
    }
}

h4 {
    font-family: "KodeMono-Regular";
    font-weight: 800;
}
    
h6 {
    font-weight: 800;
}
        
.ultimo-release p {
    width: 70%;
    @media (min-width:320px) and (max-width:767px){
        width: 100%;
    }
}
        
.ultimo-release-redes img {
    height: 60px;
    width: 60px;
}  

#album-destacado {
    height: 250px;
}

/* Solo en la página music: ultimo album */

.ultimo-album {
    display: flex;
    columns: 12;
    gap: 40px;
    margin-top: 30px;
    @media (min-width:320px) and (max-width:767px){
        display: grid;
    }
}
        
.ultimo-album p {
    width: 70%;
    @media (min-width:320px) and (max-width:767px){
        width: 100%;
    }
}

.ultimo-album-redes img {
    height: 60px;
    width: 60px;
    @media (min-width:320px) and (max-width:767px){

    }  
}