/* Solo en la página index: ultimo release */

h4 {
    font-family: "KodeMono-Regular";
    font-weight: 800;
}
    
h6 {
    font-weight: 800;
}

@media (min-width:1366px) and (max-width:1920px) {
    .ultimo-release {
        display: block;
        .content-ultimo-release {
            display: flex;
            gap: 40px;
            .bloque-descripcion {
                #album-destacado {
                    height: 250px;
                }
            }
            .bloque-escuchalo {    
                display: block;
                .ultimo-release-redes {
                    display: flex;
                    gap: 40px;
                    img {
                        width: 60px;
                    }
                }
            }
        }   
    }
}

@media (min-width:320px) and (max-width:767px){
    .ultimo-release {
        display: grid;
        margin-top: 16px;
        columns: 4;
        gap: 20px;
        width: 100%;
        justify-content: center;
        .content-ultimo-release {
            h4 {
                text-align: center;
            }
            h6 {
                text-align: center;
            }
            p {
                text-align: center;
                width: 100%;
            }
            .ultimo-release-redes {
                justify-items: center;
            }
            #album-destacado {
                height: 200px;
            }
        }
    }
}
        
/* Solo en la página music: ultimo album */

.ultimo-album {
    display: flex;
    columns: 12;
    gap: 40px;
    margin-top: 30px;
    p {
        width: 70%;
    }
}

.ultimo-album-redes img {
    height: 60px;
    width: 60px;
}

@media (min-width:320px) and (max-width:767px){
    .ultimo-album {
        display: grid;
    }
    p {
        width: 100%;
    }
}