/* Solo en la página index: ultimo release */
.ultimo-release {
    display: grid;
    .index-ultimo-release {
        .bloque-descripcion .bloque-escuchalo {
            h4 {
                font-family: "KodeMono-Regular";
                font-weight: 800;
            }

            h6 {
                font-weight: 800;
            }
        }
    }
}

@media (min-width:1366px) and (max-width:1920px) {
    .ultimo-release {
        display: grid;
        width: 80%;
        gap: 40px;

        .index-ultimo-release {
            display: flex;
            align-content: flex-start;
            gap: 40px;

            .bloque-descripcion {
                display: grid;
                width: 100%;

                #album-destacado {
                    height: 250px;
                }
            }

            .bloque-escuchalo {
                display: flex;
                gap: 16px;

                .redes {
                    display: flex;
                    gap: 16px;
                    width: 100px;
                }
            }
        }
    }
}

@media (min-width:320px) and (max-width:767px) {
    .ultimo-release {
        display: grid;
        width: 100%;
        text-align: center;
        gap: 20px;

        .index-ultimo-release {
            display: grid;
            gap: 20px;

            .bloque-escuchalo {
                gap: 16px;
                .redes {
                    width: 60px;
                    padding-top: 16px;
                }
            }
        }
    }
}

/* Solo en la página music: ultimo album */

.ultimo-album {
    display: flex;
    columns: 12;
    gap: 40px;
    margin-top: 30px;

    p {
        width: 70%;
    }
}

.ultimo-album-redes img {
    height: 60px;
    width: 60px;
}

@media (min-width:320px) and (max-width:767px) {
    .ultimo-album {
        display: grid;
    }

    p {
        width: 100%;
    }
}