.videos {
    display: block;

    iframe {
        border-radius: 12px;
    }
}

@media (min-width:1024px) {
    .videos {
        
        h2 {
            padding-bottom: 60px;
        }

        .content-videos {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
        }
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .videos {
        
        h2 {
            padding-bottom: 60px;
        }

        .content-videos {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            iframe {
                width: 310px;
                height: auto;
            }
        }
    }
}

@media (min-width:320px) and (max-width:767px) {
            #hide {
                display: none;
            }

            iframe {
                width: 288px;
                height: auto;
            }
}