.videos {
    display: block;
}

@media (min-width:1366px) and (max-width:1920px) {
    .videos {
        h2 {
            padding-bottom: 60px;
        }
        .content-videos {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
        }
    }
}

@media (min-width:320px) and (max-width:767px){
    .videos {
        h2 {
            text-align: center;
            padding-bottom: 30px;
        }
        .content-videos {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            gap: 16px;
            justify-content: center;
            iframe {
                width: 100%;
            }    
        }

    }
}